/* Bodies */
body.login-page {
    background-image: url("img/welcome_valhalla.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.register-page {
    background-image: url("img/road_valhalla.jpg"); /* Update with the correct static path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.index-page {
    background-image: url('img/green_back.jpeg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    margin: auto;
    top: 0px;
    left: 50%; /* Start from the middle */
    transform: translateX(-50%); /* Center horizontally */
    width: 1200px; /* Same width as the table container */
    padding: 10px;
    z-index: 100; /* Ensure it's always on top */
}

/* Button styles */
.navbar button {
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    background-color: #2c3e50;
    font-weight: bold;
    margin-right: 10px;
}

.navbar button:hover {
    background-color: darkslategrey;
    color: darkseagreen;
}

.out {
    position: absolute;
    right: 10px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* Table */
table {
    width: 100%; /* Tables take full width of their container */
    background-color: rgba(255, 255, 255, 0.9);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

thead {
    background-color: #2c3e50;
    color: white;
}

tbody tr:hover {
    background-color: rgba(46, 204, 113, 0.3);
    transition: background-color 0.3s ease;
}

th, td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Best player and deck headers */
.best-player-header, .best-deck-header {
    background-color: #E34234;
    color: white;
    text-align: left;
}

h1 {
    text-align: center; /* Center-align the text in h3 */
    margin-bottom: 10px; /* Add space between h3 and table */
    margin-top: 10%;
    color: yellow;
}



/* ======================================================================== */
/* Container for all tables */
.results-page-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
}

/* Container for the top two tables (best player and best deck) */
.top-tables-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Maximum width to prevent excessive stretching */
    margin-bottom: 20px; /* Space between top tables and results */
}

.best-player-table,
.best-deck-table {
    width: 48%; /* Ensure tables take equal space and leave some margin between */
    margin-top: 10%;
}

/* Center the results table */
.results-table {
    width: 100%;
    max-width: 800px; /* Prevent it from getting too wide */
    margin-top: 20px; /* Add space between top tables and results */
}