/* Login Page Background */
body.login-page {
    background-image: url("img/welcome_valhalla.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.register-page {
    background-image: url("img/road_valhalla.jpg"); /* Update with the correct static path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.index-page {
    background-image: url('img/green_back.jpeg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

/* Form Container Styling */
.form-container {
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent dark background */
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    color: white;
}

h2 {
    color: white;
}

/* Button Hover Effect */
.btn-primary:hover {
    background-color: #0056b3;
    color: white;
}

p a {
    color: #007bff;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
    font-weight: bold;
}




table {
    width: 70%; /* Adjust table width as needed */
    max-width: 800px; /* Prevent the table from getting too big */
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background for the table */
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

thead {
    background-color: #2c3e50;
    color: white;
    text-align: left;
}

tbody tr:hover {
    background-color: rgba(46, 204, 113, 0.3); /* Light green highlight on hover */
    transition: background-color 0.3s ease;
}

th, td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.table-results {
    background-color: #27ae60; /* Green header */
    color: white;
}



td {
    color: #34495e;
}

.table-group-divider {
    border-top: 2px solid #27ae60;
}

.table-light {
    background-color: #ecf0f1; /* Light grey for a soft look */
}

.best-player-header,
.best-deck-header {
    /*background-color: #6600FF; !* Set the header color to violet *!*/
    background-color: #E34234; /* Set the header color to violet */
    color: white; /* Ensure text is white for readability */
    text-align: left; /* Align text to the left */
}



/* The background of the navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.6);;
    position: fixed;
    margin: auto;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.5s;
    padding: 10px;
}
/* The content of the navbar */
.navbar button{
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
/* Once you go with the mouse */
.navbar button:hover{
    background-color: darkslategrey;
    color: darkseagreen;
}

button:link, button:visited {
    color: black;
    text-decoration: none;
    background-color: transparent;
}


button:hover {
    color: #085110;
    text-decoration: underline;
}

.out {
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 15px;
    font-size: 20px
}