<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTG - Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link rel="stylesheet" href="/static/mtg/styles.css">
</head>
<body>
    <div id="App"></div>
    <script type="text/babel">

        const RenderNavbar = ({handleView}) => {
            return (
                <div className="navbar">
                    <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("home")}>Home</button>
                    <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("stats")}>My Stats</button>
                    <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("decks")}>Best Decks</button>
                    <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("chart")}>Chart</button>
                    <a className="btn btn-sm btn-outline-primary" href="/logout">Log Out</a>
                    <hr/>
                </div>
            );
        };

        function App() {
            const [currentView, setCurrentView] = React.useState("home");
            const [category, setCategory] = React.useState("all");
            const [selectedDeck, setSelectedDeck] = React.useState(null);

            const handleView = (view) => {
                setCurrentView(view)
                setSelectedDeck(null)
            }
            return (
                <div>
                    {/* NavBar */}
                    <RenderNavbar handleView={handleView} />
                    <hr />

                    {/* View */}
                    {selectedDeck ? (
                        <RenderDeck selectedDeck={selectedDeck} />
                    ) :  (
                        <RenderResults category={category} setSelectedDeck={setSelectedDeck} />
                    )}
                </div>
            );
        };

        const RenderResults = ({setSelectedDeck}) => {
            const results = fetchResults();
            const handleDeckClick = (deck) => {
                console.log(deck)
                setSelectedDeck(deck)
            }

            return (
                <div>
                    <table className="table">
                        <thead className="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Deck1</th>
                                <th scope="col">Result</th>
                                <th scope="col">Deck2</th>
                                <th scope="col">Datetime</th>
                            </tr>
                        </thead>
                        <tbody className="table-group-divider">
                            {results.length > 0 && results.map (
                                (match, index) => (
                                    <tr>
                                        <th scope="row">{index+1}</th>
                                        <td onClick={() => handleDeckClick(match.deck1)}>{match.deck1.name}</td>
                                        <td>{match.result}</td>
                                        <td onClick={() => handleDeckClick(match.deck2)}>{match.deck2.name}</td>
                                        <td>{match.date_played}</td>
                                    </tr>
                                )
                            )}
                        </tbody>
                    </table>
                </div>
            )
        }

        const RenderDeck = ({selectedDeck}) => {
            if (!selectedDeck || !selectedDeck.rivals) {
                console.log(selectedDeck)
                return <div>No data available for this deck.</div>;
            }
            const rivals = selectedDeck.rivals
            return (
                <div>
                    <h3>Deck: {selectedDeck.name}</h3>
                    <table className="table">
                        <thead className="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Rival</th>
                                <th scope="col">Total Matches</th>
                                <th scope="col">Victories</th>
                                <th scope="col">Defeats</th>
                                <th scope="col">Draws</th>
                                <th scope="col">Win Ratio</th>
                            </tr>
                        </thead>
                        <tbody className="table-group-divider">
                            {rivals.map (
                                (rival, index) => (
                                    <tr>
                                        <th scope="row">{index+1}</th>
                                        <td>{rival.name}</td>
                                        <td>{rival.stats.total}</td>
                                        <td>{rival.stats.wins}</td>
                                        <td>{rival.stats.losses}</td>
                                        <td>{rival.stats.draws}</td>
                                        <td>{(rival.stats.win_ratio * 100).toFixed(2)}%</td>
                                    </tr>
                                )
                            )}
                        </tbody>
                    </table>
                </div>
            )
        }

        function fetchDecks(user_id) {
            const [decks, setDecks] = React.useState([]);

            const url = user_id ? `/get_decks/${user_id}` : `/get_decks`

            React.useEffect(() => {
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok")
                        }
                        return response.json()
                    })
                    .then(data => {
                        console.log(data);
                        setDecks(data)
                    })
                    .catch(error => console.error("There was a problem while fetching", error));
            }, [user_id]);
            return decks
        }

        function fetchResults(user_id) {
            const [results, setResults] = React.useState([]);

            const url = user_id ? `/get_results/${user_id}` : `/get_results`

            React.useEffect(() => {
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok")
                        }
                        return response.json()
                    })
                    .then(data => {
                        console.log(data);
                        setResults(data)
                    })
                    .catch(error => console.error("There was a problem while fetching", error));
            }, [user_id]);
            return results
        }

    ReactDOM.render(<App />, document.querySelector("#App"));

    </script>

</body>
</html>