{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}MTG{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mtg/styles.css' %}">
        <meta name="description" content="App to track Magic The Gathering results while displaying stats">
        <meta name="keywords" content="MTG, results, statistics">
        <meta name="author" content="Alvaro Juan Gomez">
        <meta name="viewport" content="width=device-width">
        {% block script %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header>

        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>